<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ThreeHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <section name="ThreeHost.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
	<runtime>
		<gcTrimCommitOnLowMemory enabled="true"/>
	</runtime>

  <userSettings>
    <ThreeHost.Properties.Settings>
      <setting name="ContentReferences" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Z:/_Aegis_Non_Phase/12172020_DVD_Delivery/AEGIS-MDL-MEDIA000042/Models</string>
            <string>Z:/Aegis_Phase 0/AEgis_Phase 0_Rev.A/Models</string>
            <string>Z:/Aegis_Phase 1/AEgis_Phase 1_Rev.A/Models</string>
            <string>Z:/Aegis_Phase 1/AEgis_Phase 1_Rev.C/2020-05-07-01-aegis-cm2-models-phase1/Models</string>
            <string>Z:/Aegis_Phase 2/AEgis_Phase 2_Rev.A/AEGIS-MDL-MEDIA000026/Models</string>
            <string>Z:/Aegis_Phase 2/AEgis_Phase 2_Rev.B/AEGIS-MDL_MEDIA000026/Models</string>
            <string>Z:/Aegis_Phase 2/AEgis_Phase 2_Rev.B/AEGIS-MDL-MEDIA000029/Models</string>
            <string>Z:/Aegis_Phase 3/AEgis_Phase 3_Rev.A/AEGIS-MDL-MEDIA000034/Models</string>
            <string>Z:/Aegis_Phase 3/AEgis_Phase 3_Rev.B/AEGIS-MDL-MEDIA000034/Models</string>
            <string>Z:/Aegis_Phase 4/AEgis_Phase 4_Rev.A/AEGIS-MDL-MEDIA000042/Models</string>
            <string>Z:/Aegis_Phase 4/AEgis_Phase 4_Rev.B/AEGIS-MDL-MEDIA000045/Models</string>
            <string>D:/Models</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AppReferences" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>D:/proj/moov/moov.html</string>
          </ArrayOfString>
        </value>
      </setting>
    </ThreeHost.Properties.Settings>
    <ThreeHost.Properties.Default>
      <setting name="References" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Z:\_Aegis_Non_Phase\12172020_DVD_Delivery\AEGIS-MDL-MEDIA000042\Models</string>
            <string>Z:\Aegis_Phase 0\AEgis_Phase 0_Rev.A\Models</string>
            <string>Z:\Aegis_Phase 0\AEgis_Phase 0_Rev.B\Models</string>
            <string>Z:\Aegis_Phase 0\AEgis_Phase 0_Rev.C\Models</string>
            <string>Z:\Aegis_Phase 1\AEgis_Phase 1_Rev.A\Models</string>
            <string>Z:\Aegis_Phase 1\AEgis_Phase 1_Rev.B\Models</string>
            <string>Z:\Aegis_Phase 1\AEgis_Phase 1_Rev.C\Models</string>
            <string>Z:\Aegis_Phase 2\AEgis_Phase 2_Rev.A\Models</string>
            <string>Z:\Aegis_Phase 2\AEgis_Phase 2_Rev.B\Models</string>
            <string>Z:\Aegis_Phase 3\AEgis_Phase 3_Rev.A\Models</string>
            <string>Z:\Aegis_Phase 3\AEgis_Phase 3_Rev.B\Models</string>
            <string>Z:\Aegis_Phase 4\AEgis_Phase 4_Rev.A\Models</string>
          </ArrayOfString>
        </value>
      </setting>
    </ThreeHost.Properties.Default>
  </userSettings>
</configuration>